
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <title></title>
</head>
<body>
<div class="header" style=" width: 100%">
    <div><div th:insert="det/navbar1.html :: header"></div></div>
    <div><div th:insert="det/navbar2.html :: header2"></div></div>
    <div><div th:insert="det/navbar3.html :: header3"></div></div>
</div>
<div class="card mb-3" style="max-width: 1600px;">
    <div class="row g-0">
        <div class="col-md-2">
            <div class="list-group" style="max-width: 250px; height: 100px; border-radius:0;">
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                    О компании
                </a>
                <a href="#" class="list-group-item list-group-item-action">Доставка и оплата</a>
                <a href="#" class="list-group-item list-group-item-action">Магазины</a>
                <a href="#" class="list-group-item list-group-item-action">Контакты</a>
                <a href="#" class="list-group-item list-group-item-action">Сертификаты</a>
                <a href="#" class="list-group-item list-group-item-action">Отзывы</a>
            </div>
        </div><div class="col-md-10">
        <div class="card-body">
            <div class="card-body">
                <p>
                    Желание познакомить казахстанских покупателей с лучшими мировыми брендами, сделать мир косметики и парфюма доступным для каждой прекрасной леди, подтолкнули к созданию в 2006 году компании «MonAmie».
                </p>
                <p>
                    Символом «MonAmie» была выбрана бабочка — легкое, нежное создание, при взгляде на которое на душе становится светло и радостно. Ведь мы хотим видеть наших покупателей счастливыми!
                </p>

                <div class="container marketing" style="display: grid; grid-template-columns: repeat(4, 200px); grid-column-gap: 20px;">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="https://www.monamie.kz/upload/iblock/752/752a8b8f720ba5d77d0a29e54c921874.gif"
                                 width="170px" height="140px" >
                            <p class="fw-normal" style="font-size: 20px; display:inline-block;">работаем 16 лет</p>


                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->

                    <div class="row">
                        <div class="col-lg-4">

                            <img src="https://www.monamie.kz/upload/iblock/904/904e626b714f229f13ee06d8335f07b6.gif"
                                 width="170px" height="140px" >
                            <p class="fw-normal" style="font-size: 20px; display:inline-block;">Оригинальная косметика</p>

                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->

                    <div class="row">
                        <div class="col-lg-4">
                            <img src="https://www.monamie.kz/upload/iblock/fa8/fa89b5949334541b84b5a4fe559946e8.gif"
                                 width="170px" height="140px" >
                            <h2 class="fw-normal" style="display:inline-block; font-size: 20px; float:left ;">29 магазинов </h2>

                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->

                    <div class="row">
                        <div class="col-lg-4">
                            <img src="https://www.monamie.kz/upload/iblock/5d9/5d91430b8403ee16129f39160484fda2.gif"
                                 width="170px" height="140px" >
                            <h2 class="fw-normal" style="display:inline-block; font-size: 20px;"> эксклюзивный ассортимент </h2>

                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                </div>
                <h1>Наша история</h1>
                <p>
                <h1>2006 год </h1>
                Открытие первого магазина состоялось в мае 2006 года. Это был магазин по ул. Гоголя (уг. ул. Назарбаева) – и поныне самый крупный магазин сети.
                </p>
                <p>
                    Для Алматы открытие этого магазина стало обсуждаемым событием. Ведь появился первый парфюмерно-косметический магазин с прямым доступом к товару! Магазин, в котором можно было подойти к полке, взять в руки "волшебный флакон", вдохнуть аромат, попробовать декоративную косметику, с удовольствием сделать выбор и ощутить себя счастливой, унося в красивом пакетике заветную покупку.
                </p>
                <p>
                    Следующим, в сентябре 2006 года, открылся магазин «MonAmie» в Караганде. В этом же году было открыто еще три магазина в Алматы.
                </p>
                <h1>2007 год </h1>
                <p>
                    Эта прекрасная традиция - открывать несколько магазинов в год - продолжилась и в 2007. Почти каждый месяц маджентовая бабочка появлялась в разных уголках Казахстана.
                </p>
                <p>
                    Чем больше магазинов открывалось, тем больше становилось людей в разных городах страны, желающих заглянуть в чудесный мир косметики и парфюма.
                </p>
                <p>
                    Приятным подарком к празднику весны стало открытие в 2008 году магазина "MonAmie" в городе Атырау.
                </p>
                <p>
                    В 2009 году открылся магазин в Усть-Каменогорске и еще два магазина в г. Алматы.
                </p>
                <p>
                    В 2010 году ко Дню Столицы в г. Астана открылся магазин в ТРЦ "Хан Шатыр".
                </p>
                <p>
                    В 2011 в нашей сети было уже 17 прекрасных магазинов!
                </p>
                <h1>2012-2022 год </h1>
                <p>
                    В 2021 году «MonAmie» исполнилось 15 лет - это время перемен. Наши клиенты стали более динамичными, вовлеченными в мировые тренды, активно использующие digital коммуникации. Для того чтобы шагать в ногу со временем, был произведен ребрендинг.
                </p>
                <p>
                    Изменения коснулись стиля компании, фирменных цветов и конечно логотипа. Символом компании все так же остается бабочка, как олицетворение красоты, легкости, воздушности и счастья. Новый логотип стал более современен, при этом сохранив свою узнаваемость.
                </p>
                <p>
                    Слоган компании тоже эволюционировал.
                </p>
                <p>
                    «Мир вокруг меняется…, меняется быстро. И мы меняемся, растем, становимся лучше, свободнее, открываем новое, сохраняя при этом то, что дорого и близко нашему сердцу.
                </p>
                <p>
                    «Счастлив тот, кто меняясь, остается собой».
                </p>
                <p>
                    MonAmie - легко быть собой!
                </p>
                <div class="container text-center">
                    <div class="row">
                        <div class="col align-self-start">
                            <img src="https://www.monamie.kz/local/templates/shop/images/about/thumb-1.jpg" alt=""  width="490px" height="400px">
                        </div>
                        <div class="col align-self-center">
                            <h4> «Мир вокруг меняется... меняется быстро.
                                И мы меняемся, растём, становимся лучше, свободнее, открываем новое.
                                Счастлив тот, кто меняясь, остаётся собой».</h4>
                        </div>

                    </div>
                </div>
            </div>
        </div></div>





    <div class="footer">
        <div th:insert="det/footer.html :: footer"></div>
    </div>
</div>

</body>
</html>