
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
 <script src="https://use.fontawesome.com/439f629ac3.js"></script>

    <title></title>
</head>
<body>
<div class="header" style=" width: 100%">
    <div><div th:insert="det/navbar1.html :: header"></div></div>
    <div><div th:insert="det/navbar2.html :: header2"></div></div>
    <div><div th:insert="det/navbar3.html :: header3"></div></div>
</div>
<div class="card mb-3" style="max-width: 1600px;">
  <div class="row g-0">
    <div class="col-md-4">
        <div th:insert="det/b-nav.html :: b-nav"></div>
    </div><div class="col-md-8">
      <div class="card-body">
  <div class="card-body">
     <h3>   <b> ПОРЯДОК ОБРАБОТКИ ЗАКАЗОВ В ИНТЕРНЕТ-МАГАЗИНЕ</b>
</h3>
      <img src="https://thumb.tildacdn.com/tild3463-6637-4535-b930-313261646433/-/format/webp/sms.jpg" alt=""  width="600px" height="150px">
      <ol> 
        <li>После оформления заказа Вы получите sms-сообщение что заказ принят (1).</li>
        <li> Если выбран способ доставки - Самовывоз
После комплектации заказа Вам придет новое sms-сообщение о том, что заказ можно забрать в пункте самовывоза (2).</li>
<li>3. Если выбран способ доставки - Доставка до двери
После комплектации Вашего заказа и передачи его в курьерскую службу Вам придет новое sms-сообщение с ориентировочной датой доставки (3).</li>
<li>Также Вы можете отслеживать статус своего заказа в личном кабинете.</li>
      </ol>
       <h3>   <b>ОПЛАТА ЗАКАЗОВ</b>
</h3>
      <p>Может быть произведена:</p>
      <ol> 
        <li>Банковской карточкой (при самовывозе);</li>
        <li>Банковской картой через сайт epay.kkb.kz;
Оплата "Онлайн банковской картой" предусматривает 100% предоплату покупателем при создании заказа. До момента оплаты заказы с таким видом оплаты принимаются, но их дальнейшая сборка и упаковка не осуществляются</li>
<li>Карточкой Kaspi Red (только при самовывозе).</li>
</ol>

<p>Наличный расчет при получении заказов в интернет-магазине не принимается.
Подарочные сертификаты в качестве оплаты за заказы в интернет-магазине не принимаются.<p>
  <h3>   <b>САМОВЫЗОВ В Г.АЛМАТЫ</b>
</h3>
     <ol> 
        <li>Заказ можно забрать ежедневно с 10:00 до 20:00</li>
        <li>Заказ активен в течение 3-х дней со дня его оформления</li>
<li>Адрес магазина: ул. Шолохова д.13 (уг. ул. Рихарда Зорге)</li>
</ol>   
<h3>   <b>ДОСТАВКА ПО ГОРОДАМ КАЗАХСТАНА (СТАНДАРТ)</b>
</h3>  
<ol> 
        <li>Заказы отправляются из г. Алматы</li>
        <li>Доставка осуществляется только по административным границам города и производится только в рабочие дни, 5 дней в неделю</li>
<li>Стоимость доставки составляет 1 650 тенге</li>
<li>Если сумма заказа больше 15 000 тенге, доставка осуществляется бесплатно.</li>
<li>Заказ оплачивается онлайн банковской карточкой через сайт epay.kkb.kz.</li>
<li>Ориентировочный срок доставки указывается на сайте при оформлении заказа. Он указан для примерной оценки сроков доставки и не является окончательным, и может изменяться в связи с погодными условиями или иными препятствиями для своевременной доставки заказа.
</li>
</ol> 
  <h3>   <b>ВАЖНАЯ ИНФОРМАЦИЯ!</b>
</h3> 
<ol> 
        <li>Подарочные сертификаты к оплате не принимаются</li>
        <li>Дисконтные карты в интернет-магазине не применяются, начисления бонусов не происходит.</li>
<li>Если телефоны для связи указаны вами неверно или отключены – заказ отменяется до Вашего звонка в офис Интернет-магазина</li>
</ol>
  </div>
      </div>
  </div>
  </div>
</div>
<div class="footer">
    <div th:insert="det/footer.html :: footer"></div>
</div>
</body>
</html>